#content {
    max-width: 85vw;
}

#content > img {
    max-width: 1000px;
}

.action-btn {
    height: 50px;
    width: 200px;
    background-color: #ff0040;
    border-color: #ff0040;
    outline: inherit;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease;
    border-style: solid;
    margin: 20px;
}

.action-btn:hover {
    background-color: white;
    color: black;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}